- if @fileinfo
  == ID: #{@fileinfo.id}
  == Sha2: #{@fileinfo.sha2}
  == Größe: #{@fileinfo.filesize}

  %hr

  %h2 Locations
  - @fileinfo.file_locations.each do |l|
    = render :partial=>'shared/file_location', :object=>l
  = render :partial=>'form'

- else
  %h1== Keine Files zum taggen gefunden.