.message{:style=>'font-weight:bold; font-size:2em;margin-bottom:10px;'}
  = params[:message]
- form_tag '/input', :method=>:post, :onsubmit=>"return confirm('Sind sie sicher? Stimmt die Location?');" do
  = location_selector(@locations, :selected=>params[:location_id])
  %br
  %label== Dateien aus folgendem Pfad hinzufügen:
  = text_field_tag 'path'
  %br
  %label== Unterverzeichnisse einschließen?
  = check_box_tag 'include_subdirs', 1, params[:include_subdirs]
  %br
  %label== Schlagworte (optional)
  = text_field_tag 'tag_list'
  %br
  = submit_tag 'Dateien suchen und in DB eintragen'