- l=file_location
%div{:id=>"file_location_#{l.id}"}
  - path_iso = Iconv.iconv('iso-8859-1','utf-8',File.join(l.path,l.filename)).first
  - unless @preview_done
    - if File.exists?(path_iso)
      %img{:style=>"max-height:380px;", :src=>"/files/get?path="+CGI.escape(path_iso)}
      - @preview_done=true
      %br
  = link_to_function 'Location-Details', "$(this).next('div').removeClassName('hidden');$(this).remove();"
  %br
  %div.hidden{:style=>'border:dotted 1px black; margin:3px; padding:3px;'}
    .right
      = link_to_remote(icon('trash'), {:url=>{:controller=>'file_locations', :action=>'delete', :id=>l.id}, :confirm=>'Diese File-Location wirklich löschen?', :success=>"$('file_location_#{l.id}').remove();"}, {:class=>'red', :title=>'Diese Filelocation löschen'})
    .clear
    == #{l.class.to_s} #{l.filename}
    %br
    %small
    == #{File.join(l.path,l.filename)}
    %br
    - if l.location
      == #{l.location.type} #{l.location.name} #{l.location.located}
      %br
      %small
        = l.location.description
      %br
