- l=file_location
%div
  = link_to_function 'Location-Details', "$(this).next('div').removeClassName('hidden');$(this).remove();"
  %br
  %div.hidden
    == #{l.class.to_s} #{l.filename}
    %br
    %small
    == #{File.join(l.path,l.filename)}
    %br
    - if l.location
      == #{l.location.type} #{l.location.name} #{l.location.located}
      %br
      %small
        = l.location.description
      %br
  %img{:height=>380, :src=>"/files/get?path="+CGI.escape(Iconv.iconv('iso-8859-1','utf-8',File.join(l.path,l.filename)).first)}
