!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    = stylesheet_link_tag 'tag_cloud','application'
    = javascript_include_tag :defaults
  %body{:style=>"margin:0px;"}
    #header{:style=>'background-color:#e6e6e6;'}
      #header_content{:style=>"padding-left:15px;"}
        = link_to 'Locations verwalten', '/locations'
        &bull;
        = link_to 'Dateien eintragen', '/inputs/new'
        &bull;
        = link_to 'Dateien taggen', '/random_tags/show'
        &bull;
        = link_to 'Dateien suchen', '/files'
      %hr
    = yield